<!DOCTYPE html>
<html>
<head>
	<title>Herminio Garcia</title>
</head>
<body>
<h1>Personal Page</h1>

{{!-- may be good to put this into a partial --}}
<ul>
	<li>Home</li>
	<li>About</li>
	<li>Contact</li>
</ul>

{{{body}}}
</body>
</html>