<h1>About Page</h1>
<h2>Interests</h2>
<ul>
	{{#each interest}}
	<li>{{this}}</li>
	{{/each}}
</ul>
<h2>Projects</h2>
<ul>
	{{#each project}}
	<li>{{this}}</li>
	{{/each}}
</ul>
<h2>Skills</h2>
<ul>
	{{#each skill}}
	<li>{{this}}</li>
	{{/each}}
</ul>
