    <header>
        <div class="container home-template">
        <img src="/img/babyPicThumbnail.png" alt="Picture Thumbnail">
		<div class="intro-text">
			<div class="intro-lead-in">Herminio Garcia</div>
			<div class="intro-subheader">Full Stack MERN Developer</div>
			<a href="/herminioGarciaResume.pdf"><button class="btn btn-default home-buttons white-font resume">Resume</button></a>
		</div>

		<a href="/portfolio"><button class="btn btn-default home-buttons white-font">Portfolio</button></a>
		<a href="/about"><button class="btn btn-default home-buttons white-font">About</button></a>
		<a href="/contact"><button class="btn btn-default home-buttons white-font">Contact</button></a>
        </div>
    </header>

